@charset "utf-8";/* CSS Design By iLank,www.sunge.cn*/
body,div,ul,li{padding:0;margin:0}
ul{list-style:none}
/*---幻灯片---*/
.ilankpic{position:relative;height:650px;z-index:1;overflow:hidden;background:#eee url(load.gif) no-repeat center center}
@media screen and (min-width:1760px){.ilankpic .i{position:relative;left:50%;margin-left:-880px;width:1760px}}
@media screen and (min-width:2300px){.ilankpic .i{margin-left:-1150px;width:2300px}}
.ilankpic .i a{width:49px;height:97px;display:block;background:url(ap_i.png) no-repeat;position:absolute;left:2%;top:220px;z-index:2}
.ilankpic a.next{background-position:-51px 0;left:auto;right:2%}
.ilankpic .bd{width:100%;position:relative;height:650px}
.ilankpic .bd li{float:left;width:100%;height:650px;background-position:center 0;background-repeat:no-repeat}
.ilankpic .bd a{display:block;height:480px;width:1000px;margin:100px auto 0;blr:expression(this.onFocus=this.blur());outline:none;position:relative;z-index:2}
.ilankpic .hd{position:absolute;bottom:20px;z-index:1;width:100%;height:21px;text-align:center;margin:0 auto}
.ilankpic .hd li{display:inline-block;_display:inline;cursor:pointer;width:21px;height:21px;background:url(ulink.png) no-repeat}
.ilankpic .hd li.on{background-position:-21px 0}
.ilankpic i{background:url(ap.png) no-repeat center bottom;height:192px;width:100%;position:absolute;left:0;bottom:0}